@font-face {
  font-family: "Droid Arabic Kufi";
  src: url("./font/Droid\ Arabic\ Kufi\ Regular.ttf") format("truetype");
}

:root {
  --mainColor: #3f5620;
}
html{
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Droid Arabic Kufi", "Arial", sans-serif;
}
body {
  height: 900vh;
}

.top-nav {
  width: 100%;
  height: 33px;
  background-color: #222328;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}
.top-nav div,
.navbar div {
  display: flex;
  align-items: center;
  gap: 40px;
}
.top-nav div a,
.navbar div a {
  text-decoration: none;
}
.top-nav div a li,
.navbar div a li {
  list-style: none;
  color: white;
  font-size: 14px;
}
.btnLink {
  width: 68px;
  height: 28px;
  text-align: center;
  background-color: var(--mainColor);
  border-radius: 3px;
}
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
  background-color: white;
  z-index: 10000;
}
.navbar div a li {
  color: black;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 200px;
  height: 50px;
}

.cssbuttons-io-button {
  background: var(--mainColor);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #4d6a27;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  animation: shadowBtn 1s ease-in-out infinite alternate;
}
@keyframes shadowBtn {
  from {
    box-shadow: var(--mainColor) 0px 7px 29px 0px;
  }
  to {
    box-shadow: var(--mainColor) 0px 10px 50px;
  }
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--mainColor);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--mainColor);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* hero */

.hero {
  background-image: url("./assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}

.mainTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  color: white;
}
.mainTitle h1 {
  font-size: 40px;
}
.title {
  color: var(--mainColor);
}
.searchForm {
  width: 60%;
  height: fit-content;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 80px;
  background-color: #f5f6f9;
  border-radius: 10px;
  box-shadow: #e9e9e946 0px 10px 50px;

  position: relative;
}
.effectHors {
  position: absolute;
  top: -50px;
  left: 10%;
  width: 50px;
}
.effectHors2 {
  position: absolute;
  top: -50px;
  left: 80%;
  width: 50px;
}
.effectHors3 {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 50px;
}
.effectHors4 {
  position: absolute;
  top: -50px;
  left: 30%;
  width: 50px;
}
.aboutUs {
  width: 100%;
  height: 50vh;
  display: flex;
  margin-top: 150px;
  background-color: rgb(245, 255, 244);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.aboutUs h1 {
}
.aboutUs p {
  width: 60%;
}

.group {
  position: relative;
  width: 90%;
}
.group2 {
  position: relative;
  width: 30%;
}
.input,
select {
  font-size: 16px;
  width: 100%;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #515151;
  direction: rtl;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

label {
  color: #5f5f5f;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label,
select:focus ~ label,
select:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--mainColor);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--mainColor);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: var(--mainColor);
  }

  to {
    width: 0;
    background: transparent;
  }
}

.selectItems1,
.selectItems2 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}
.selector1 {
  width: 30%;
  text-align: right;
}
.selector1 button {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}
.selectInput {
  width: 100%;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.select-btn {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}
#dropdown a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#dropdown a img {
  width: 25px;
}

.searchBtn {
  background-color: var(--mainColor);
  color: white;
  border: 2px solid var(--mainColor);
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
}
.searchBtn:hover {
  background-color: transparent;
  color: var(--mainColor);
}
.new-ads {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.titleSection {
  text-align: right;
  padding: 40px;
  font-size: 30px;
  position: relative;
}
.titleSection::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 5%;
  height: 6px;
  border-radius: 10px;
  background-color: var(--mainColor);
}
.adsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 600px;
  box-shadow: whitesmoke 0px 7px 29px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.card .thumbnail {
  width: 100%;
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  position: relative;
}

.showMore {
  width: 90px;
  padding: 3px;
  font-size: small;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card .thumbnail:hover .showMore {
  display: block;
}

.detailsCard {
  width: 100%;
  height: 50%;
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  padding-right: 30px;
}

.detailsCard .type {
  color: var(--mainColor);
  font-size: medium;
}

.mapPart {
  display: flex;
  width: 100%;
  gap: 10px;
}
.mapPart svg {
  width: 25px;
  color: var(--mainColor);
}

.detailsCard .name {
  font-size: 25px;
  width: 100%;
}
.detailsCard .name:hover {
  color: var(--mainColor);
}
.price {
  font-size: 25px;
  color: var(--mainColor);
}
.details {
  position: absolute;
  bottom: 10px;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 20px;
}
.details div {
  display: flex;
  align-items: center;

  gap: 5px;
}
.custom-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 35%;
}
.custom-nav button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 80;
  font-size: 10px;
  background-color: var(--mainColor);
  color: white;
  border: 1px solid var(--mainColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.moreButton button {
  width: 15%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0 0 50px var(--mainColor);
}

.categorysSlides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 250px;
}
.categorysSlides div {
  width: 378px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}
.categorysSlides div:hover {
  background-size: 110%;
}

.categorysSlides div div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
@media (min-width: 1200px) {
  .slideThumbnail4 {
    width: 580px !important;
    height: 422px !important;
  }
  .slideThumbnail5 {
    width: 580px !important;
    height: 422px !important;
  }
}

.slideThumbnail1 {
  background-image: url("./assets/R.jpg");
}
.slideThumbnail2 {
  background-image: url("./assets/doctors.jpg");
}
.slideThumbnail3 {
  background-image: url("./assets/trainer.jpg");
}

.slideThumbnail4 {
  background-image: url("./assets/R\ \(2\).jpg");
}
.slideThumbnail5 {
  background-image: url("./assets/R\ \(1\).jpg");
}

.startAd {
  margin-top: 150px;
  width: 100%;
  height: 50vh;
  background-image: url(./assets/longSide.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 20px;
  backdrop-filter: blur(50px);
}
.startAd h2 {
  font-size: 30px;
  font-weight: 700;
}

.startAd p {
  font-size: large;
}
.startAd button {
  width: 15%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: 0 0 50px var(--mainColor);
}
.startAd button:hover,
.moreButton button:hover {
  background-color: transparent;
  color: var(--mainColor);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal-content h2 {
  text-align: center;
}
.modal-content button {
  width: 15%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: 0.5s all;
}
.modal-content button:hover {
  background-color: transparent;
  color: var(--mainColor);
}
.close {
  color: #aaa;
  right: 20px;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Card Styles */
.cardModal {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--mainColor);
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 5px;
}

.cardModal img {
  width: 50px;
}
.selected {
  background-color: var(--mainColor);
  color: white;
}

/* Button Styles */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.benifetSection {
  width: 100%;
  height: 60vh;
  background-color: rgb(245, 255, 244);
  margin-top: 100px;
}
.containerBenifetCards,
.processCards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}
.benifetCards {
  width: 250px;
  padding: 15px;
  border: 2px solid var(--mainColor);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.benifetCards::before {
  content: "";
  height: 100%;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--mainColor);
  transition: 0.5s all;
  border-radius: 5px;
}
.benifetCards::after {
  content: "";
  height: 100%;
  width: 10%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--mainColor);
  transition: 0.5s all;
  border-radius: 5px;
}

.benifetCards:hover::before,
.benifetCards:hover::after {
  width: 0%;
}

.benifetCards:hover .benifetCards p {
  position: absolute;
  z-index: 1;
  color: white;
}



.processCard {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.processSection {
  padding: 10px;
  margin-top: 100px;
}
.processCards {
  justify-content: center;
  align-items: center;
  text-align: center;
}


.indecator {
  width: 40px;
  height:40px;
  border-radius: 10px;
  border: 3px solid var(--mainColor);
  display: flex;
  background-color: var(--mainColor);
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 25px;
}
.indecator  svg{
    color: white;
    width: 30px

}




.testimonealSection {
  margin-top: 100px;
  background-color: rgb(245, 255, 244);
}
.numbersCards,
.teamCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}
.singleNmCard {
  width: 250px;
  height: 230px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  gap: 10px;
  border-radius: 10px;
}
.singleNmCard h2 {
  font-weight: 500;
  color: var(--mainColor);
  text-align: center;
  font-size: 30px;
}
.singleNmCard p {
  text-align: center;
  font-size: large;
}
.singleNmCard img {
  width: 70px;
}

.containerfq {
  padding: 4rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--mainColor);
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--mainColor);
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: var(--mainColor);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.TeamSection {
  background-color: rgb(245, 255, 244);
  margin-top: 100px;
}
.teamSinglCard {
  width: 300px;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  gap: 10px;
  border-radius: 10px;
}
.teamSinglCard img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid var(--mainColor);
  aspect-ratio: 1/1;
}



  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(245, 255, 244);
  }
  
  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: var(--mainColor);
    margin: 0 0 10px 0;
  }
  
  .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .img-wrapper {
    width: 100%;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .position {
    font-size: 25px;
    font-weight: 700;
    color: var(--mainColor);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .team-img {
    width: 100%;
    height: 100%;
  }
  
  .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .section-head-text {
      text-align: center;
    }
  }

/* footer */
.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
    direction: rtl; /* Right-to-left direction */
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: var(--mainColor);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-right: 8px; /* Adjusting padding for RTL */
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }



  /* loader */
#loader{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
/* Hide the loader when the page is loaded */
.loaded{
    display: none;
}

  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: var(--mainColor);
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   